

h2 {
    text-align: left;
    padding-top: 2rem;
    padding-left: 1rem;

}

textarea {
    margin: auto;
    position:absolute;
    top: 15%;
    left: 5%;
    width: 300px;
    height: 100px;
    text-align: left;
}

button {
    margin: auto;
    position: absolute;
    top: 35%;
    left: 5%;
    
}